In [50]:
import pandas as pd

def calculate_amortization_schedule(apr, monthly_repayment, deposit, total_asset_value):
    apr_decimal = apr / 100  # Convert APR to decimal
    monthly_rate = apr_decimal / 12  # Monthly interest rate
    total_debt = total_asset_value - deposit  # Initial loan amount
    
    balance = total_debt
    month = 0
    data = []
    
    while balance > 0:
        interest_payment = balance * monthly_rate
        principal_payment = monthly_repayment - interest_payment
        balance -= principal_payment

        if balance < 0:
            principal_payment += balance  # Adjust last principal payment
            balance = 0
        
        equity = total_asset_value - balance
        data.append([month // 12, month % 12 + 1, balance, equity, interest_payment, principal_payment])
        month += 1
    
    df = pd.DataFrame(data, columns=['Year', 'Month', 'Remaining Balance', 'Total Equity', 'Interest Paid', 'Principal Paid'])
    return df

def mortgage_summary(df, total_debt):
    total_interest_paid = df["Interest Paid"].sum()
    total_payments = total_interest_paid + total_debt
    final_year = df.iloc[-1]["Year"]
    final_month = df.iloc[-1]["Month"]
    
    summary = pd.DataFrame({
        "Years of Repayment": [f"Year {int(final_year)} Month {int(final_month)}"],
        "Total Interest Paid": [round(total_interest_paid, 2)],
        "Total Payments": [round(total_payments, 2)]
    })
    return summary

def get_equity_at_year_month(df, year, month):
    result = df[(df['Year'] == year) & (df['Month'] == month)]
    if result.empty:
        return "Invalid year or month provided."
    return result[['Total Equity']]

In [78]:
import pandas as pd
import numpy as np

# Define input values based on the image
APR = 4.35  # Annual Percentage Rate in decimal
monthly_repayment = 4400  # Monthly mortgage payment
deposit = 100000  # Initial deposit
total_asset_value = 520000  # Total asset value
total_debt = total_asset_value - deposit
monthly_rate = APR / 12  # Monthly interest rate

In [79]:
df_ec = calculate_amortization_schedule(apr = APR, monthly_repayment = monthly_repayment, deposit = deposit, total_asset_value = total_asset_value)
summary_ec = mortgage_summary(df_ec, total_debt)
equity_year_5_ec = get_equity_at_year_month(df_ec, 5, 1)

In [80]:
summary_ec

  Years of Repayment  Total Interest Paid  Total Payments
0    Year 9 Month 10             96412.49       516412.49

In [81]:
equity_year_5_ec

     Total Equity
60  296051.563925

In [82]:
total_asset_value = 430000  # Total asset value
df_borough = calculate_amortization_schedule(apr = APR, monthly_repayment = monthly_repayment, deposit = deposit, total_asset_value = total_asset_value)
summary_borough = mortgage_summary(df_borough, total_debt)
equity_year_5_borough = get_equity_at_year_month(df_borough, 5, 1)

In [83]:
summary_borough

  Years of Repayment  Total Interest Paid  Total Payments
0     Year 7 Month 4             55814.68       475814.68

In [84]:
equity_year_5_borough

     Total Equity
60  318279.825516

In [88]:
equity_year_5_borough - equity_year_5_ec

    Total Equity
60  22228.261592

In [89]:
summary_ec['Total Interest Paid'] - summary_borough['Total Interest Paid']

0    40597.81
Name: Total Interest Paid, dtype: float64

In [91]:
import streamlit as st

# Streamlit UI
def main():
    st.title("Mortgage Calculator")
    
    # User inputs
    apr = st.number_input("Annual Percentage Rate (APR) %", min_value=0.1, value=4.35)
    monthly_repayment = st.number_input("Monthly Repayment", min_value=1, value=4400)
    deposit = st.number_input("Deposit", min_value=0, value=100000)
    total_asset_value = st.number_input("Total Asset Value", min_value=1, value=520000)
    
    if st.button("Calculate Mortgage"):
        df = calculate_amortization_schedule(apr, monthly_repayment, deposit, total_asset_value)
        summary = mortgage_summary(df, total_asset_value - deposit)
        
        st.subheader("Mortgage Summary")
        st.dataframe(summary)
        
        st.subheader("Amortization Schedule")
        st.dataframe(df)
        
        # Equity lookup
        st.subheader("Retrieve Equity at Specific Time")
        year_equity = st.number_input("Year", min_value=0, value=5)
        month_equity = st.number_input("Month", min_value=1, max_value=12, value=6)
        if st.button("Get Equity"):
            equity = get_equity_at_year_month(df, year_equity, month_equity)
            st.write(equity)

if __name__ == "__main__":
    main()

2025-02-18 22:30:28.828
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\andre\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-02-18 22:30:28.844 Session state does not function when running a script without `streamlit run`

In [ ]:
!streamlit run C:\Users\andre\OneDrive\Documents\mortgage_calculator_streamlit.py